/**
 * Setup
 *
 * Setting up the grid and primary styles
 *
 **/

body {
  font-family: 'Lato', sans-serif;
  font-size: $bodyCopy;
}

.skip--navigation {
  a {
    position: absolute;
    top:-80px;
    display: block;
    width: 100%;
    padding: 1rem;
    font-size: 1.6rem;
    text-align: center;
    background: $primary;
    color: #fff;
    z-index: 999999;
    -webkit-transition: top 1s; /* For Safari 3.1 to 6.0 */
    transition: top 1s;

    &:focus {
      top: 0;
    }
  }
}

.no-js .warnings {
  position: static;
}
.warning {
  font-weight: bold;
  color: #000;
}

.for-print,
.js .js-disabled {
  display: none;
}

.wrapper {
  min-height:100vh;
}

.tree_menu {
  position: relative;
  col(1/4);
  min-height: 100vh;
  background-color: #ccc;
  > ul {
    > li {
      background-color: #555;
      padding: $spacing;
      color: $light;
      border-bottom: 1px dotted $light;
      &:hover {
        background-color: darken(#555, 10%);
      }
      ul {
        padding: $spacing;
        li {
          background-color: #ccc;
          padding: $spacing;
          color: $dark;
          margin-bottom: $vspacing;
          &:hover {
            background-color: darken(#ccc, 10%);
          }
        }
      }
      &.settings {
        position: absolute;
        bottom:0;
        border-bottom: 0;
        width: 100%;
      }
    }
  }
}

.editor {
  col(3/4);
  h1 {
    font-size: 4rem;
    font-weight: bold;
  }
}
